.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar {
    background-color: #343a40;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link:hover {
    color: #d4d4d4 !important;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-success:hover {
    background-color: #ffffff;
    color: #343a40;
}

/* 레이아웃 스타일 */
.container {
    display: flex;
}

/* related-middle-categories 왼쪽 정렬 */
#related-middle-categories {
    width: 200px; /* 사이드바 너비 설정 */
    padding: 10px;
    border-right: 1px solid #ccc;
}

/* small-category와 sort-filter를 가로 정렬 */
#category-and-sort {
    flex-grow: 1;
    padding: 10px;
}

#category-and-sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Small Category 항목들을 가로로 나열 */
#small-category-filters ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#small-category-filters ul li {
    margin-right: 15px;
}

/* Sort by 항목들을 가로로 나열 */
#sort-option-filters ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#sort-option-filters ul li {
    margin-right: 15px;
}

#small-category-filters a, #sort-option-filters a {
    text-decoration: none;
    color: #000;
}

/* 테이블을 중앙에 위치시키고 간격 추가 */
#product-list {
    margin: 20px auto;
    width: 100%;
}

#product-list table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
}

#product-list th, #product-list td {
    text-align: center;
    padding: 10px;
}

/* 테이블 헤더 스타일 */
#product-list thead {
    background-color: #f8f9fa;
    font-weight: bold;
}

/* 페이지 핸들러 스타일 */
#page-handler {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

#page-handler a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

#page-handler a:hover {
    color: #0056b3;
}