<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Board</title>
<!--    <link rel="stylesheet" th:href="@{/menu.css}">-->
</head>
<body>


<!-- 카테고리 링크들 -->
<p>대분류: <a th:href="@{/product/list(middleCategoryId=${product.middleCategoryId},smallCategoryId=${product.smallCategoryId})}" th:text="${product.majorCategoryName}"></a></p>
<p>중분류: <a th:href="@{/product/list(middleCategoryId=${product.middleCategoryId},smallCategoryId=${product.smallCategoryId})}" th:text="${product.middleCategoryName}"></a></p>
<p>소분류: <a th:href="@{/product/list(middleCategoryId=${product.middleCategoryId},smallCategoryId=${product.smallCategoryId})}" th:text="${product.smallCategoryName}"></a></p>


<!-- 제품 상세 정보 -->
<p>브랜드: <span th:text="${product.brandName}">브랜드</span></p>
<h1 th:text="${product.productName}">상품 이름</h1>
<p>별점: <span th:text="${product.rating}">별점</span></p>
<p>할인율: <span th:text="${product.saleRatio}">할인율</span></p>
<p>정가: <span th:text="${product.price}">정가</span></p>
<p>할인가: <span th:text="${(product.price * (1 - product.saleRatio / 100)).intValue() - ((product.price * (1 - product.saleRatio / 100)).intValue() % 100)}">할인가</span></p>
<p>상품 사이즈 측정 표: <span th:text="${product.sizeTable != null ? product.sizeTable : ''}">상품 사이즈 측정 표</span></p>







 <!-- 옵션 키와 해당 옵션 값들 나열 -->
<div th:each="option : ${productOptions}">
    <!-- 옵션 키 이름을 표시하는 영역 -->
    <h3 th:text="${option.optionKeyName}">옵션 키 이름</h3>

    <!-- 옵션 값들을 나열하는 영역 -->
    <ul>
        <li th:each="value : ${productOptionValues}" th:if="${value.optionKeyId == option.optionKeyId}">
            <input type="radio" th:name="'option_' + ${value.optionKeyId}" th:value="${value.optionValueId}" th:id="'optionValue_' + ${value.optionValueId}" />
            <label th:for="'optionValue_' + ${value.optionValueId}" th:text="${value.optionValueName}"></label>
            <span th:text="'추가 비용: ' + ${value.extraFee}"></span>
            <span th:text="'재고: ' + ${value.stock}"></span>
        </li>
    </ul>
</div>










<!-- 장바구니 버튼 -->
<form action="/cart/add" method="post">
    <input type="hidden" name="productId" th:value="${product.productId}" />
    <button type="submit">장바구니</button>
</form>

<!-- 결제 버튼 -->
<form action="/checkout" method="post">
    <input type="hidden" name="productId" th:value="${product.productId}" />
    <button type="submit">구매</button>
</form>
</body>
</html>






