<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Board</title>
    <link rel="stylesheet" th:href="@{/menu.css}">
</head>
<body>

<div id="menu">
    <ul>
        <li id="logo">fastcampus</li>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/board/list}">Board</a></li>
        <li><a th:href="@{/login/login}">Login</a></li>
        <li><a th:href="@{/register/add}">Sign in</a></li>
        <li><a href=""><i class="fas fa-search small"></i></a></li>
    </ul>
</div>



<!-- 카테고리 링크들 -->
<p>대분류: <span th:text="${product.majorCategoryName}"></span></p>
<p>중분류: <span th:text="${product.middleCategoryName}"></span></p>
<p>소분류: <span th:text="${product.smallCategoryName}"></span></p>



<!-- 제품 상세 정보 -->
<p>브랜드: <span th:text="${product.brandId}">브랜드</span></p>
<h1 th:text="${product.productName}">상품 이름</h1>
<p>별점: <span th:text="${product.rating}">별점</span></p>
<p>할인율: <span th:text="${product.saleRatio}">할인율</span></p>
<p>정가: <span th:text="${product.price}">정가</span></p>
<p>할인가: <span th:text="${#numbers.formatDecimal(product.price * (1 - product.saleRatio / 100), 1, 2)}">할인가</span></p>
<p>상품 사이즈 측정 표: <span th:text="${product.sizeTable}">상품 사이즈 측정 표</span></p>




<!-- 옵션 선택 버튼 -->
<form>
    <input type="hidden" name="Option">
    <button type="submit">옵션</button>
</form>

<!-- 장바구니 버튼 -->
<form action="/cart/add" method="post">
    <input type="hidden" name="productId" th:value="${product.productId}" />
    <button type="submit">장바구니</button>
</form>

<!-- 결제 버튼 -->
<form action="/checkout" method="post">
    <input type="hidden" name="productId" th:value="${product.productId}" />
    <button type="submit">구매</button>
</form>
</body>
</html>








<div style="text-align:center">
    <table border="1">
        <thead>
        <tr>
            <td>번호</td>
            <td>상품이름</td>
            <td>브랜드</td>
            <td>할인율</td>
            <td>정가</td>
            <td>할인가</td>
            <td>별점</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productDto, status: ${list}">
            <td th:text="${status.index + 1}"></td>
            <td><a th:href="@{/product/{productId}(productId=${productDto.productId})}" th:text="${productDto.productName}"></a></td>
            <td th:text="${productDto.brandId}"></td>
            <td th:text="${productDto.saleRatio}"></td>
            <td th:text="${productDto.price}"></td>
            <td th:text="${#numbers.formatDecimal(productDto.price * (1 - productDto.saleRatio / 100), 1, 2)}"></td>
            <td th:text="${productDto.rating}"></td>
        </tr>
        </tbody>
    </table>
</div>

