<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Board</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>

<div id="menu">
    <ul>
        <li id="logo">fastcampus</li>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/board/list}">Board</a></li>
        <li><a th:href="@{/login/login}">Login</a></li>
        <li><a th:href="@{/register/add}">Sign in</a></li>
        <li><a href=""><i class="fas fa-search small"></i></a></li>
    </ul>
</div>

<!--<div th:if="${middleCategoryId}">-->
<!--    <p>Showing products for middle category ID: <span th:text="${middleCategoryId}"></span></p>-->
<!--</div>-->

<!-- 정렬 옵션 버튼들 -->
<div style="text-align:right; margin-right: 10px;">
    <a th:href="@{/product/board(sortOption='priceDesc')}" class="btn">높은 가격순</a>
    <a th:href="@{/product/board(sortOption='priceAsc')}" class="btn">낮은 가격순</a>
    <a th:href="@{/product/board(sortOption='rating')}" class="btn">별점 높은순</a>
    <a th:href="@{/product/board(sortOption='newest')}" class="btn">신규순</a>
    <a th:href="@{/product/board(sortOption='highDiscount')}" class="btn">할인율 높은순</a>
</div>



<div style="text-align:center">
    <table border="1">
        <thead>
        <tr>
            <td>번호</td>
            <!-- <td>상품이미지</td>-->
            <td>상품이름</td>
            <td>브랜드</td>
            <td>할인율</td>
            <td>정가</td>
            <td>할인가</td>
            <td>별점</td>
        </tr>
        </thead>
        <tbody>
        <!-- th:each는 "변수명, 상태변수 : 반복할 컬렉션" 형식입니다. -->
        <tr th:each="productDto, status: ${list}">
            <td th:text="${status.index+1}"></td>
            <!-- 이미지컬럼 fk로 받는거 필요할듯 -->
            <!--            <td><img th:src="@{${productDto.getProduct_image}}" alt="no img/"></td>-->
            <td><a th:href="@{/product/{productId}(productId=${productDto.getProduct_id()})}" th:text="${productDto.getProduct_name()}"></a></td>
            <td th:text="${productDto.getBrand_id()}"></td>
            <td th:text="${productDto.getSale_ratio()}"></td>
            <td th:text="${productDto.getPrice()}"></td>
            <!-- 할인율과 정가로 할인가 계산 -->
            <td th:text="${#numbers.formatDecimal(productDto.getPrice() * (1 - productDto.getSale_ratio() / 100), 1, 2)}"></td>
            <td th:text="${productDto.getRating()}"></td>
        </tr>
        </tbody>
    </table>
</div>


<!--<div>-->
<!--    &lt;!&ndash; 이전 페이지 링크 &ndash;&gt;-->
<!--    <a th:if="${pageHandler.showPrev}" th:href="@{/product/board(page=${pageHandler.beginPage - 1}, pageSize=${pageHandler.pageSize})}">&lt;</a>-->

<!--    &lt;!&ndash; 페이지 번호 링크 &ndash;&gt;-->
<!--    <a th:each="i : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}"-->
<!--       th:href="@{/product/board(page=${i}, pageSize=${pageHandler.pageSize})}"-->
<!--       th:text="${i}"></a>-->

<!--    &lt;!&ndash; 다음 페이지 링크 &ndash;&gt;-->
<!--    <a th:if="${pageHandler.showNext}" th:href="@{/product/board(page=${pageHandler.endPage + 1}, pageSize=${pageHandler.pageSize})}">&gt;</a>-->
<!--</div>-->


<div>
    <!-- 이전 페이지 링크 -->
    <a th:if="${pageHandler != null and pageHandler.showPrev}" th:href="@{/product/board(page=${pageHandler.beginPage - 1}, pageSize=${pageHandler.pageSize})}">&lt;</a>

    <!-- 페이지 번호 링크 -->
    <a th:each="i : ${#numbers.sequence(pageHandler.beginPage, pageHandler.endPage)}"
       th:href="@{/product/board(page=${i}, pageSize=${pageHandler.pageSize})}"
       th:text="${i}"></a>

    <!-- 다음 페이지 링크 -->
    <a th:if="${pageHandler != null and pageHandler.showNext}" th:href="@{/product/board(page=${pageHandler.endPage + 1}, pageSize=${pageHandler.pageSize})}">&gt;</a>
</div>


</body>
</html>
