<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="chatbot-container" th:fragment="bot">
    <div class="chatbot-button-container">
        <button type="button" class="chatbot-toggle-btn">
            <img src="/images/openai.svg" alt="OpenAI logo" class="chatbot-logo">
        </button>
        <div class="chatbot-chatbox">
            <div class="chatbot-messages">
            </div>
            <div class="chatbot-input-container">
                <div class="chatbot-input-form">
                    <label class="chatbot-input-label">
                        <input type="text" name="message" class="chatbot-input" placeholder="채팅을 입력하세요" required/>
                    </label>
                    <button type="submit" class="chatbot-submit-btn">보내기</button>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/css/chatbot.css}"/>
    <script type="text/javascript" th:src="@{/js/bot.js}"></script>
</div>

</body>
</html>
