<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy2.shop29.product.dao.CategoryMapper">




    <!-- 소분류 ID로 중분류 정보를 가져오는 쿼리 -->
    <select id="selectMiddleBySmall" parameterType="int" resultType="com.toy2.shop29.product.domain.category.MiddleCategoryDto">
        SELECT
            mc.middle_category_id AS middleCategoryId,
            mc.major_category_id AS majorCategoryId,
            mc.middle_category_name AS middleCategoryName
        FROM
            middlecategory mc
                JOIN smallcategory sc ON mc.middle_category_id = sc.middle_category_id
        WHERE
            sc.small_category_id = #{smallCategoryId};
    </select>


    <!-- 중분류 ID로 해당 소분류를 가져오는 쿼리 -->
    <select id="selectSmallsByMiddle" parameterType="int" resultType="com.toy2.shop29.product.domain.category.SmallCategoryDto">
        SELECT
            small_category_id AS smallCategoryId,
            small_category_name AS smallCategoryName
        FROM
            smallcategory
        WHERE
            middle_category_id = #{middleCategoryId}
    </select>

    <!-- 특정 중분류와 같은 대분류를 가지는 다른 중분류를 가져오는 쿼리 -->
    <select id="selectRelatedMiddles" parameterType="int" resultType="com.toy2.shop29.product.domain.category.MiddleCategoryDto">
        SELECT
            middle_category_id AS middleCategoryId,
            middle_category_name AS middleCategoryName
        FROM
            middlecategory
        WHERE
            major_category_id = (
                SELECT major_category_id
                FROM middlecategory
                WHERE middle_category_id = #{middleCategoryId}
            )
    </select>

    <!-- 모든 대분류 select -->
    <select id="selectAllMajors" resultType="com.toy2.shop29.product.domain.category.MajorCategoryDto">
        SELECT * FROM majorcategory
    </select>

    <resultMap id="MajorMiddleMap" type="com.toy2.shop29.product.domain.category.MajorMiddleDto">
        <id property="majorCategoryId" column="major_category_id"/>
        <result property="majorCategoryName" column="major_category_name"/>
        <result property="middleCategoryId" column="middle_category_id"/>
        <result property="middleCategoryName" column="middle_category_name"/>
    </resultMap>

    <select id="selectMiddleMajor" parameterType="int" resultMap="MajorMiddleMap">
        SELECT
            mc.major_category_id,
            mc.major_category_name,
            midc.middle_category_id,
            midc.middle_category_name
        FROM
            majorcategory mc
                LEFT JOIN middlecategory midc ON mc.major_category_id = midc.major_category_id
        WHERE
            mc.major_category_id = #{majorCategoryId};
    </select>

</mapper>