<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy2.shop29.product.dao.OptionValueMapper">

    <select id="selectAll" resultType="com.toy2.shop29.product.domain.OptionValueDto">
        SELECT * FROM optionvalue
    </select>

    <select id="selectById" parameterType="int" resultType="com.toy2.shop29.product.domain.OptionValueDto">
        SELECT * FROM optionvalue WHERE option_value_id = #{optionValueId}
    </select>

    <select id="selectByOptionKeyId" parameterType="int" resultType="com.toy2.shop29.product.domain.OptionValueDto">
        SELECT * FROM optionvalue WHERE option_key_id = #{optionKeyId}
    </select>

    <insert id="insert" parameterType="com.toy2.shop29.product.domain.OptionValueDto">
        INSERT INTO optionvalue (option_key_id, option_value_name, created_date, created_id, updated_date, updated_id)
        VALUES (#{optionKeyId}, #{optionValueName}, NOW(), #{createdId}, NOW(), #{updatedId})
    </insert>

    <update id="update" parameterType="com.toy2.shop29.product.domain.OptionValueDto">
        UPDATE optionvalue
        SET option_value_name = #{optionValueName},
            updated_date = NOW(),
            updated_id = #{updatedId}
        WHERE option_value_id = #{optionValueId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM optionvalue WHERE option_value_id = #{optionValueId}
    </delete>

</mapper>