<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy2.shop29.qna.ParentQnaTypeMapper">
    <insert id="insert" parameterType="com.toy2.shop29.qna.dto.ParentQnaTypeDto" useGeneratedKeys="true" keyProperty="parent_qna_type_id">
        INSERT INTO `ParentQnaType`(
            `parent_qna_type_id`,`name`,`description`, `is_active`,`created_id`,`updated_id`
        )
        VALUES(
            #{parent_qna_type_id},#{name},#{description}, #{is_active},#{created_id},#{updated_id}
        );
    </insert>

    <select id="select" parameterType="String" resultType="com.toy2.shop29.qna.dto.ParentQnaTypeDto">
        SELECT * FROM `ParentQnaType` WHERE `parent_qna_type_id` = #{parent_qna_type_id}
    </select>

    <select id="selectAll" resultType="com.toy2.shop29.qna.dto.ParentQnaTypeDto">
        SELECT * FROM `ParentQnaType` ORDER BY `parent_qna_type_id`
    </select>

    <delete parameterType="String" id="delete">
        DELETE FROM `ParentQnaType` WHERE `parent_qna_type_id` = #{parent_qna_type_id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM `ParentQnaType`
    </delete>

    <update id="update" parameterType="com.toy2.shop29.qna.dto.ParentQnaTypeDto">
        UPDATE `ParentQnaType`
        SET
            `name` = #{name},
            `description` = #{description},
            `is_active` = #{is_active},
            `updated_id` = #{updated_id},
            `updated_time` = now()
        WHERE `parent_qna_type_id` = #{parent_qna_type_id}
    </update>
</mapper>