<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy2.shop29.qna.ParentQnaTypeMapper">

    <!--  CREATE-->
    <!-- 부모 문의타입 생성 -->
    <insert id="insert" parameterType="com.toy2.shop29.qna.domain.ParentQnaTypeDto" useGeneratedKeys="true" keyProperty="parentQnaTypeId">
        INSERT INTO `ParentQnaType`(
            `parent_qna_type_id`, -- 부모 문의타입 ID
            `name`, -- 부모 문의타입 이름
            `description`, -- 부모 문의타입 설명
            `is_active`, -- 사용여부
            `created_id`, -- 생성자 ID
            `updated_id` -- 수정자 ID
        )
        VALUES(
                  #{parentQnaTypeId},
                  #{name},
                  #{description},
                  #{isActive},
                  #{createdId},
                  #{updatedId}
              );
    </insert>

    <!-- READ -->
    <!-- 부모 문의타입 단건 조회 -->
    <select id="select" parameterType="map" resultType="com.toy2.shop29.qna.domain.ParentQnaTypeDto">
        SELECT *
        FROM `ParentQnaType`
        WHERE `parent_qna_type_id` = #{parentQnaTypeId} -- 부모 문의타입 ID
        <if test="isActive != null">
            AND `is_active` = #{isActive} -- 사용여부 확인
        </if>
    </select>

    <!-- 부모 문의타입 전체 조회 -->
    <select id="selectAll" parameterType="boolean" resultType="com.toy2.shop29.qna.domain.ParentQnaTypeDto">
        SELECT *
        FROM `ParentQnaType`
        WHERE 1=1 -- 동적쿼리 오류 방지
        <if test="isActive != null">
            AND `is_active` = #{isActive} -- 사용여부 확인
        </if>
        ORDER BY `parent_qna_type_id` -- 부모 문의타입 ID
    </select>

    <!-- 부모 문의타입 전체개수 조회 -->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM `ParentQnaType`;
    </select>

    <!-- UPDATE -->
    <!-- 부모 문의타입 단건 수정 -->
    <update id="update" parameterType="com.toy2.shop29.qna.domain.ParentQnaTypeDto">
        UPDATE `ParentQnaType`
        SET
            `name` = #{name}, -- 부모 문의타입 이름
            `description` = #{description}, -- 부모 문의타입 설명
            `is_active` = #{isActive}, -- 사용여부
            `updated_id` = #{updatedId}, -- 수정자 ID
            `updated_time` = now() -- 수정일시 : 현재시간
        WHERE `parent_qna_type_id` = #{parentQnaTypeId} -- 부모 문의타입 ID
    </update>

    <!-- DELETE -->
    <!-- 부모 문의타입 단건 삭제 -->
    <delete parameterType="String" id="delete">
        DELETE
        FROM `ParentQnaType`
        WHERE `parent_qna_type_id` = #{parentQnaTypeId} -- 부모 문의타입 ID
    </delete>

    <!-- 부모 문의타입 전체 삭제 -->
    <delete id="deleteAll">
        DELETE
        FROM `ParentQnaType`
    </delete>
</mapper>