<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy2.shop29.product.dao.ProductOptionMapper">

    <select id="selectAll" resultType="com.toy2.shop29.product.domain.ProductOptionDto">
        SELECT * FROM productoption
    </select>

    <select id="selectById" parameterType="int" resultType="com.toy2.shop29.product.domain.ProductOptionDto">
        SELECT * FROM productoption WHERE product_option_id = #{productOptionId}
    </select>

    <select id="selectByProductId" parameterType="int" resultType="com.toy2.shop29.product.domain.ProductOptionDto">
        SELECT * FROM productoption WHERE product_id = #{productId}
    </select>

    <insert id="insert" parameterType="com.toy2.shop29.product.domain.ProductOptionDto">
        INSERT INTO productoption (product_id, option_key_id, created_date, created_id, updated_date, updated_id)
        VALUES (#{productId}, #{optionKeyId}, NOW(), #{createdId}, NOW(), #{updatedId})
    </insert>

    <update id="update" parameterType="com.toy2.shop29.product.domain.ProductOptionDto">
        UPDATE productoption
        SET option_key_id = #{optionKeyId},
            updated_date = NOW(),
            updated_id = #{updatedId}
        WHERE product_option_id = #{productOptionId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM productoption WHERE product_option_id = #{productOptionId}
    </delete>


    <select id="selectProductStockByOptions" parameterType="map" resultType="com.toy2.shop29.product.domain.ProductStockDto">
        SELECT
            po.product_id AS productId,
            ok.option_key_name AS optionType,
            ov.option_value_name AS optionValue,
            pov.stock,
            pov.extra_fee AS extraFee
        FROM
            productoptionvalue pov
                JOIN
            productoption po ON pov.product_id = po.product_id
                JOIN
            optionvalue ov ON pov.option_value_id = ov.option_value_id
                JOIN
            optionkey ok ON ov.option_key_id = ok.option_key_id
        WHERE
            po.product_id = #{productId}
          AND ok.option_key_name = #{optionType}
          AND ov.option_value_name = #{optionValue}





    </select>






</mapper>