<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toy2.shop29.product.dao.ProductMapper">

    <!-- product_id를 input으로 받아 해당하는 product를 반환하는 select -->
    <select id="select" parameterType="int" resultType="com.toy2.shop29.product.domain.ProductDto">
        SELECT product_id,
               small_category_id,
               product_name,
               brand_id,
               price,
               sale_ratio,
               rating,
               is_exclusive,
               size_table,
               start_date,
               created_date,
               created_id,
               updated_date,
               updated_id
        FROM product
        where product_id = #{productId}
    </select>

    <update id="updateProductStock" parameterType="map">
        UPDATE productoptionvalue
        SET stock = #{quantity}
        WHERE product_id = #{productId} AND option_value_id = #{optionValueId}
    </update>

<!--    상품 재고 반환-->
    <select id="checkProductStock" parameterType="map" resultType="long">
        SELECT stock
        FROM productoptionvalue
        WHERE product_id = #{productId} AND option_value_id = #{optionValueId}
    </select>



    <!-- 전체 product들 모두 읽어오기 -->
    <select id="selectAll" resultType="com.toy2.shop29.product.domain.ProductDto">
        SELECT product_id,
               small_category_id,
               product_name,
               brand_id,
               price,
               sale_ratio,
               rating,
               is_exclusive,
               size_table,
               start_date,
               created_date,
               created_id,
               updated_date,
               updated_id
        FROM product
        ORDER BY product_id ASC;
    </select>


    <!-- 새 product 등록 -->
    <insert id="insert" parameterType="com.toy2.shop29.product.domain.ProductDto">
        INSERT INTO product
        (product_id, small_category_id, product_name, brand_id, price, sale_ratio, rating, is_exclusive, size_table, start_date, created_date, created_id, updated_date, updated_id)
        VALUES
            (#{productId}, #{smallCategoryId}, #{productName}, #{brandId}, #{price}, #{saleRatio}, #{rating}, #{isExclusive}, #{sizeTable}, #{startDate}, #{created_date}, #{createdId}, #{updatedDate}, #{updatedId})
    </insert>


    <!-- product 수정 -->
    <!-- 이때 created_id, created_date는 안 바꿔주게 조심 -->
    <update id="update" parameterType="com.toy2.shop29.product.domain.ProductDto">
        UPDATE product
        SET   product_id = #{productId},
              small_category_id = #{smallCategoryId},
              product_name = #{productName},
              brand_id = #{brandId},
              price = #{price},
              sale_ratio = #{saleRatio},
              is_exclusive = #{isExclusive},
              rating = #{rating},
              is_exclusive = #{isExclusive},
              size_table = #{sizeTable},
              start_date = #{startDate},
              updated_date = now(),
              updated_id = #{updatedId}
        WHERE product_id = #{productId}
    </update>


    <!-- product 총 갯수 세기 -->
    <select id="count" resultType="int">
        SELECT count(*) FROM product
    </select>


    <!-- product_id를 input 받아 해당하는 product를 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM product WHERE product_id = #{productId}
    </delete>


    <!-- 올라온 product를 모두 삭제 -->
    <delete id="deleteAll">
        DELETE FROM product
    </delete>

    <!-- 특정 카테고리의 상품 목록 조회 -->
    <select id="selectProductByCategory" resultType="com.toy2.shop29.product.domain.ProductDto">
        SELECT
            product_id,
            small_category_id,
            product_name,
            brand_id,
            price,
            sale_ratio,
            rating,
            is_exclusive,
            size_table,
            start_date,
            created_date,
            created_id,
            updated_date,
            updated_id
        FROM
            product
        WHERE
            small_category_id = #{smallCategoryId}
    </select>

    <!-- 특정 브랜드의 상품 목록 조회 -->
    <select id="selectProductByBrand" resultType="com.toy2.shop29.product.domain.ProductDto">
        SELECT
            product_id,
            small_category_id,
            product_name,
            brand_id,
            price,
            sale_ratio,
            rating,
            is_exclusive,
            size_table,
            start_date,
            created_date,
            created_id,
            updated_date,
            updated_id
        FROM
            product
        WHERE
            brand_id = #{brandId}
    </select>

    <!-- 특정 가격 범위 내의 상품 목록 조회 -->
    <select id="selectProductsByPriceRange" resultType="com.toy2.shop29.product.domain.ProductDto">
        SELECT
            product_id,
            small_category_id,
            product_name,
            brand_id,
            price,
            sale_ratio,
            rating,
            is_exclusive,
            size_table,
            start_date,
            created_date,
            created_id,
            updated_date,
            updated_id
        FROM
            product
        WHERE
            price BETWEEN #{minPrice} AND #{maxPrice}
    </select>






    <resultMap id="ProductWithMiddleSmallMap" type="com.toy2.shop29.product.domain.product.ProductWithMiddleSmallDto">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="saleRatio" column="sale_ratio"/>
        <result property="rating" column="rating"/>
        <result property="isExclusive" column="is_exclusive"/>
        <result property="sizeTable" column="size_table"/>
        <result property="middleCategoryName" column="middle_category_name"/>
        <result property="middleCategoryId" column="middle_category_id"/>
        <result property="smallCategoryName" column="small_category_name"/>
        <result property="smallCategoryId" column="small_category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="startDate" column="start_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="createdId" column="created_id"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="updatedId" column="updated_id"/>
    </resultMap>







    <!-- 가격 높은 순 정렬 -->
    <select id="SortedByPriceDesc" parameterType="map" resultMap="ProductWithMiddleSmallMap">
        SELECT
        p.product_id,
        p.product_name,
        p.price,
        p.brand_id,
        p.sale_ratio,
        p.rating,
        p.is_exclusive,
        p.size_table,
        p.start_date,
        p.created_date,
        p.created_id,
        p.updated_date,
        p.updated_id,
        midc.middle_category_name,
        midc.middle_category_id,
        sc.small_category_name,
        sc.small_category_id
        FROM
        product p
        JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE
        <choose>
            <when test="smallCategoryId != null">
                sc.small_category_id = #{smallCategoryId}
            </when>
            <otherwise>
                midc.middle_category_id = #{middleCategoryId}
            </otherwise>
        </choose>
        ORDER BY
        price DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 가격 낮은 순 정렬 -->
    <select id="SortedByPriceAsc" parameterType="map" resultMap="ProductWithMiddleSmallMap">
        SELECT
        p.product_id,
        p.product_name,
        p.price,
        p.brand_id,
        p.sale_ratio,
        p.rating,
        p.is_exclusive,
        p.size_table,
        p.start_date,
        p.created_date,
        p.created_id,
        p.updated_date,
        p.updated_id,
        midc.middle_category_name,
        midc.middle_category_id,
        sc.small_category_name,
        sc.small_category_id
        FROM
        product p
        JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE
        <choose>
            <when test="smallCategoryId != null">
                sc.small_category_id = #{smallCategoryId}
            </when>
            <otherwise>
                midc.middle_category_id = #{middleCategoryId}
            </otherwise>
        </choose>
        ORDER BY
        price ASC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 신상품 순 정렬 (start_date 기준) -->
    <select id="SortedByNew" parameterType="map" resultMap="ProductWithMiddleSmallMap">
        SELECT
        p.product_id,
        p.product_name,
        p.price,
        p.sale_ratio,
        p.brand_id,
        p.rating,
        p.is_exclusive,
        p.size_table,
        p.start_date,
        p.created_date,
        p.created_id,
        p.updated_date,
        p.updated_id,
        midc.middle_category_name,
        midc.middle_category_id,
        sc.small_category_name,
        sc.small_category_id
        FROM
        product p
        JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE
        <choose>
            <when test="smallCategoryId != null">
                sc.small_category_id = #{smallCategoryId}
            </when>
            <otherwise>
                midc.middle_category_id = #{middleCategoryId}
            </otherwise>
        </choose>
        ORDER BY
        start_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 할인율 높은 순 정렬 -->
    <select id="SortedByHighDiscount" parameterType="map" resultMap="ProductWithMiddleSmallMap">
        SELECT
        p.product_id,
        p.product_name,
        p.price,
        p.brand_id,
        p.sale_ratio,
        p.rating,
        p.is_exclusive,
        p.size_table,
        p.start_date,
        p.created_date,
        p.created_id,
        p.updated_date,
        p.updated_id,
        midc.middle_category_name,
        midc.middle_category_id,
        sc.small_category_name,
        sc.small_category_id
        FROM
        product p
        JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE
        <choose>
            <when test="smallCategoryId != null">
                sc.small_category_id = #{smallCategoryId}
            </when>
            <otherwise>
                midc.middle_category_id = #{middleCategoryId}
            </otherwise>
        </choose>
        ORDER BY
        sale_ratio DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 별점 높은 순 정렬 -->
    <select id="SortedByRating" parameterType="map" resultMap="ProductWithMiddleSmallMap">
        SELECT
        p.product_id,
        p.product_name,
        p.brand_id,
        p.price,
        p.sale_ratio,
        p.rating,
        p.is_exclusive,
        p.size_table,
        p.start_date,
        p.created_date,
        p.created_id,
        p.updated_date,
        p.updated_id,
        midc.middle_category_name,
        midc.middle_category_id,
        sc.small_category_name,
        sc.small_category_id
        FROM
        product p
        JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE
        <choose>
            <when test="smallCategoryId != null">
                sc.small_category_id = #{smallCategoryId}
            </when>
            <otherwise>
                midc.middle_category_id = #{middleCategoryId}
            </otherwise>
        </choose>
        ORDER BY
        rating DESC
        LIMIT #{offset}, #{pageSize}
    </select>



    <!-- 기본 정렬: 상품 ID 기준 (최신 순) -->
    <select id="selectPage" parameterType="map" resultMap="ProductWithMiddleSmallMap">
        SELECT
        p.product_id,
        p.product_name,
        p.price,
        p.brand_id,
        p.sale_ratio,
        p.rating,
        p.is_exclusive,
        p.size_table,
        p.start_date,
        p.created_date,
        p.created_id,
        p.updated_date,
        p.updated_id,
        midc.middle_category_name,
        midc.middle_category_id,
        sc.small_category_name,
        sc.small_category_id
        FROM
        product p
        JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE
        <choose>
            <when test="smallCategoryId != null">
                sc.small_category_id = #{smallCategoryId}
            </when>
            <otherwise>
                midc.middle_category_id = #{middleCategoryId}
            </otherwise>
        </choose>
        ORDER BY
        p.product_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>





    <resultMap id="ProductCategoryMiddleSmallMap" type="com.toy2.shop29.product.domain.product.ProductWithMiddleSmallDto">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="saleRatio" column="sale_ratio"/>
        <result property="rating" column="rating"/>
        <result property="brandId" column="brand_id"/>
        <result property="isExclusive" column="is_exclusive"/>
        <result property="sizeTable" column="size_table"/>
        <result property="startDate" column="start_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="createdId" column="created_id"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="updatedId" column="updated_id"/>

        <!-- 중분류, 소분류 이름과 ID 매핑 -->
        <result property="middleCategoryName" column="middle_category_name"/>
        <result property="middleCategoryId" column="middle_category_id"/>
        <result property="smallCategoryName" column="small_category_name"/>
        <result property="smallCategoryId" column="small_category_id"/>
    </resultMap>







    <!-- 상품상세에 필요 -->
    <select id="selectProductWithCategories" resultMap="ProductCategoryResultMap">
        SELECT
            p.product_id,
            p.brand_id,
            b.brand_name,
            p.product_name,
            p.price,
            p.sale_ratio,
            p.rating,
            p.is_exclusive,
            p.size_table,
            p.start_date,
            mc.major_category_id,
            mc.major_category_name,
            midc.middle_category_id,
            midc.middle_category_name,
            sc.small_category_id,
            sc.small_category_name
        FROM
            product p
                JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
                JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
                JOIN majorcategory mc ON midc.major_category_id = mc.major_category_id
                JOIN brand b ON p.brand_id = b.brand_id 
        WHERE p.product_id = #{productId}
    </select>

    <resultMap id="ProductCategoryResultMap" type="com.toy2.shop29.product.domain.product.ProductWithCategoriesDto">
        <id property="productId" column="product_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandName" column="brand_name"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="saleRatio" column="sale_ratio"/>
        <result property="rating" column="rating"/>
        <result property="isExclusive" column="is_exclusive"/>
        <result property="sizeTable" column="size_table"/>
        <result property="startDate" column="start_date"/>
        <!-- 카테고리 이름 매핑 -->
        <result property="majorCategoryId" column="major_category_id"/>
        <result property="majorCategoryName" column="major_category_name"/>
        <result property="middleCategoryId" column="middle_category_id"/>
        <result property="middleCategoryName" column="middle_category_name"/>
        <result property="smallCategoryId" column="small_category_id"/>
        <result property="smallCategoryName" column="small_category_name"/>
    </resultMap>






    <!-- 중분류에 해당하는 product 갯수 세기 -->
    <select id="countMiddleCategory" resultType="int">
        SELECT COUNT(*)
        FROM product p
                 JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
                 JOIN middlecategory midc ON sc.middle_category_id = midc.middle_category_id
        WHERE midc.middle_category_id = #{middleCategoryId}
    </select>





    <!-- 소분류 ID로 제품 개수 조회 -->
    <select id="getCountBySmallCategory" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM product p
        WHERE p.small_category_id = #{smallCategoryId}
    </select>

    <!-- 중분류 ID로 제품 개수 조회 -->
    <select id="getCountByMiddleCategory" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM product p
                 JOIN smallcategory sc ON p.small_category_id = sc.small_category_id
        WHERE sc.middle_category_id = #{middleCategoryId}
    </select>






</mapper>